{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Welcome to the home page</h1>
    <hr>
    <h2> Hello World! </h2>
    <p>This is the home page of the website</p>
    <h3> Here are some links to other pages: </h3>
    <p>Check out my <a href="/about">About</a> page.</p>
    <hr>
    <h2> Food System 6! </h2>
    <p>Check out my Posts page.
        <br>...showing how to use br tag to create a new line in the same paragraph.
        <br>...showing <em>how to</em> use em tag 
        <br>...showing <strong>how to</strong> use strong tag 
        <br>...showing <u>how to</u> use u tag 
        <br>...showing how to use a tag to create a new line in the same paragraph.
    </p>
{% endblock %}